// Colors
$clr1: #fff;
$clr2: #9eb1f7;
// $clr2: #ADBFFD;
$clr3: #A98EDA;
$clr4: #EB7386;
$clr5: #3c4b68;
$clr6: #6fdcf0;
// $clr6: #84edff;
$clr7: #71d165;
$clr8: #3FF8D6;
$clr9: #F2C643;

$clr-ok-btns:#71d165;
$clr-alarm-btns: #EB7386;

$subtle-shadow:0px 2px 0px #0000002e;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;