// Colors
$clr1: #fff;
$clr2: #ADBFFD;
$clr3: #A98EDA;
$clr4: #EB7386;
$clr5: #3c4b68;
$clr6: #84edff;
$clr7: #A1FD9D;
$clr8: #3FF8D6;
$clr9: #F2C643;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;