.board{
    .board-header{
            display: flex;
            justify-content: space-around;
            align-items: center;
            background:$clr1;
            &>*:not(.board-header-members){
                margin: 10px;
                padding: 3px 10px;
                font-size: 22px;
                color: $clr5;
                border-radius: 6px;
                border: 2px solid $clr4;
            }
    
            .editable-title-wrapper{
                border:0;
                font-weight: bold;
                max-width: 500px;
            }
    
    
            .is-starred{
                $starColor:rgb(238, 198, 96);
                color:$starColor;
                font-family: 'fa-reg';
                &.active{
                    font-family:'fa-solid'
                }
                font-size: rem(18px);
                padding:2px;
                outline:none;
                background: transparent;
                border: 2px solid $starColor;
                transition:color .25s linear border .25s linear;
                &:active{
                    border-color:darken( $starColor ,15);
                    color:darken($starColor,15);
                    transition:color .25s linear border .25s linear;
                }
                &:focus{
                    border-color:darken($starColor,25);
                }
            }
    
            .menu-btn{
                border:2.5px solid $clr5;
                font-weight: bold;
                color:$clr5;
                padding-inline: 5px;
            }
        }
}