.editable-text{
    form {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        display: flex;
        width: 400px;
        justify-content: space-around;
        font-size: 16px;

        & > *{
            // margin:0 auto;
        }
        & > *:not(:last-child){
            margin-block-end: 3px;
        }

        textarea{
            resize: vertical;
        }

        .save-btn{
            // padding: 10px;
            border-radius: 4px;
            background-color: $clr4;
            color: $clr1;
            font-weight: 600;
            width: 60px;

        }
    }
}