.editable-text{
    form {
        display: flex;
        width: 400px;
        justify-content: space-around;
        & > *{
            margin:0 auto;
        }
        & > *:not(:last-child){
            margin-block-end: 3px;
        }

        textarea{
            resize: vertical;
        }
        button{
            padding: 10px;
            border-radius: 4px;
        }
    }
}