// .group-container {
  // min-height: 400px;
  // max-height: 100%;
  // margin-inline-end: 5px;
  .egt{
    display: flex;
    flex-grow: 1;
    visibility: hidden;
  }
  .group-tasks-wrapper {
    display: flex;
    flex-flow: column;
    flex-grow: 1;
    //background: green;
  }
  .group-footer{
    //background: rgba(255, 0, 0, 0.322);
    background:$clr5;
    display: flex;
    flex-grow: 1;
  }
  .group {
    & > *:not(.egt){
      background-color: #ebecf0;
      //background-color: #ebecf0;
      // width: 80%;
      // margin: 0 auto;
    }

    //height: fit-content;
    //height:100%;
     display: flex;
     flex-flow: column;
    // flex-grow:1;
    // overflow-y: auto;
    max-height: 100%;
    min-width: 300px;
    border-radius: 4px;
    // padding: 10px;
    &>*{
      width:100%;
      margin:0 auto;
    }
    

    .add-task{
      border-radius: 0 0 5px 5px;
    }
  }
  .header {
    border-radius: 5px 5px 0 0 ;
    font-size: 20px;
    padding-inline-start: 8px;
    :first-child{
      font-weight: bold;
    }
  }
  // overflow-y: auto;
  // height:100%;
  // margin: 5px;

  // .header{
  //     font-size: 20px;
  //     margin: 10px;
  // }

  // ul{
  //     display: flex;
  //     flex-flow: column;
  // }
//}
