// .group-container {
  // min-height: 400px;
  // max-height: 100%;
  // margin-inline-end: 5px;
  .egt{
    display: flex;
    flex-grow: 1;
    visibility: hidden;
  }
  .group-tasks-wrapper {
    display: flex;
    flex-flow: column;
    flex-grow: 1;
    //background: green;
  }
  .group-footer{
    //background: rgba(255, 0, 0, 0.322);
    background:$clr5;
    display: flex;
    flex-grow: 1;
  }
  .group {
    display: flex;
    flex-flow: column;
    max-height: 100%;
    min-width: 270px;
    border-radius: 4px;
    .add-task{
      box-shadow:0px 2px 0px #0000002e;
      border-radius: 0 0 5px 5px;
    }
    .group-header {
      border-radius: 5px 5px 0 0 ;
      font-size: 20px;
      padding-inline-start: 10px;
      :first-child{
        font-weight: bold;
      }
    }
    & > *:not(.egt){
      background-color: #ebecf0;
      // width: 80%;
      // margin: 0 auto;
    }
    //overflow-y: auto;
    &>*{
      width:100%;
      margin:0 auto;
    }
    .tasks-wrapper{
      max-height:100%;
      overflow-y: auto;
      .group-tasks{
        height:100%;
        overflow-y: auto;
        margin-inline: 4px;
      }
    }
  }
  // overflow-y: auto;
  // height:100%;
  // margin: 5px;

  // .header{
  //     font-size: 20px;
  //     margin: 10px;
  // }

  // ul{
  //     display: flex;
  //     flex-flow: column;
  // }
//}
