.task-preview {
  // min-height: 150px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 96%;
  // max-width: 300px;

  margin: 8px auto;
  background-color: $clr1;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: $subtle-shadow;
  text-align: start;

  .task-cover-preview {
    border-radius: 5px 5px 0px 0px;
  }

  .task-preview-main {
    padding: 6px 8px 2px;
  }

  &:hover {
    background-color: rgb(248, 248, 248);
    .btn.close {
      opacity: 1;
      &:hover {
        border-radius: 4px;
        background-color: #e4e4e365;
      }
    }
  }

  .btn.close {
    margin: 0;
    align-self: flex-end;
    opacity: 0;
    position: absolute;
  }

  .task-cover-preview {
    width: 100%;
    height: 32px;
  }

  .task-info-preview {
    > *:not(:last-child) {
      float: left;
      margin-inline-end: 20px;
    }
  }

  .member-list {
    float: right;
  }

  .task-label-preview {
    display: flex;
    flex-wrap: wrap;
    //margin-bottom: 1.1rem;

    // &.label-preview {
    > *:not(:last-child) {
      margin-inline-end: 5px;
    }

    &:hover {
      filter: brightness(120%);
    }

    .preview-label {
      width: 40px;
      height: 10px;
      border-radius: 5px;
      font-size: 1em;
      transition: 0.3s;
      margin-bottom: 5px;

      &.enlarged-label {
        height: 30px;
        width: fit-content;
        padding: 5px 10px;
        color: $clr1;
        min-width: 30px;
        max-width: fit-content;
      }
    }

    // }
  }

  .btn.task-edit {
    background-color: transparent;

    &:hover {
      background-color: rgba(240, 239, 239, 0.623);
    }
  }

  .task-title {
    font-size: rem(14px);
    color: #172b4d;
    font-weight: 400;
  }

  .task-control {
    position: absolute;
    width: 100px;
    height: auto;
    background-color: #efefef;
  }
}
