.label-preview {
    & button:hover {
        filter: brightness(90%);
    }

    .label-color {
        width: 100%;
        height: 30px;
    }

    .btn.label {
        background-color: transparent;
        color: black;
        width: 100%;
        height: 100%;
        margin: 0;
    }

    .label-in-use::after {
        content: "✔";
    }
}

.label-color{
    height: 50px;
    width: 100px;
    &.is-selected::before{
        content: "✔";
    }
}

