.label-preview{
    // display: block;
    // width: 100%;
    // height: 20px;
    .label-color{
        width: 100%;
        height: 30px;
    }
    .btn.label{
        background-color: transparent;
        color:black;
        width: 100%;
        height: 100%;
        margin:0;
    }
    &.label-in-use{
        color:grey;
    }
}