.popup-label {
    position: absolute;

    .label-preview {

        & button:hover {
            filter: brightness(90%);
        }

        .label-color {
            width: 100%;
            height: 30px;
        }

        .btn.label {
            background-color: transparent;
            color: $clr1;
            width: 100%;
            height: 100%;
            margin: 0;
            border-radius: 5px;
        }

        .label-in-use::after {
            content: "✔";
        }
    }
}

.label-edit {
    .label-edit-header {
        display: flex;
        justify-content: space-between;
    }

    .label-color-list {

        width: 100%;
        display: flex;
        flex-wrap: wrap;

        .label-color {
            width: 40px;
            height: 30px;
            margin-bottom: 10px;
            margin-inline-end: 5px;
            ;
        }

        .btn.color {

            display: block;
            margin: auto;
            width: 100%;
            height: 100%;
            border-radius: 5px;

        }

        .color-in-use::after {
            content: "✔";
        }
    }
}