.member-details {
    padding: 10px;

    .member-details-container {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        h2{
            margin-bottom: 0.2rem;
        }
        h3{
            font-weight:400;
            font-size:0.9rem;
        }

        .member-initials {
            transform: scale(1.6);
            margin-inline-end: 20px;
            margin-inline-start: 10px;
            
        }
    }

    .btn.remove {
        background-color: transparent;
        margin-bottom: 0;;
    }
}
