.task-control {
    display: flex;
    flex-direction: column;
    min-width: 160px;
    // .add-to-card {
        // margin: 5px;
    // }
    >*{
        margin-bottom:8px;
    }
    & span {
        margin-inline-end: 10px;

    }
    // .control-btn {
    //     position: relative;

    //     display: flex;
    //     justify-content: flex-start;
    //     outline: none;
    //     background-color: #eaecf0;
    //     width: 150px;
    //     padding: 10px;
    //     margin-bottom: 10px;
    //     letter-spacing: 0.3px;


    //     &:hover {
    //         background-color: #e4e4e3;
    //     }

    // }
}