.task-label {
    //margin-bottom: 30px;
    >*:not(:last-child) {
        margin-inline-end: 6px;
        ;
    }

    .label-color {
        // height: 20px;
        min-width: 30px;
        max-width: fit-content;
        padding:5px 10px;
        border-radius: 5px;
        font-size: 0.7em;
        text-align: center;
        color:$clr1;
        white-space: nowrap;
        cursor: pointer;
        
        &.is-selected::before {
            content: "✔";
        }
        &:hover{
            filter:brightness(110%)
        }
    }
}