.task-attachment-container {
    .task-attachment {
        display: flex;
        height: 100px;
        margin-bottom: 30px;

        
    }
    &.loader{
        background-color: transparent;
    }  
    .attachment-img {
        width: 150px;
        object-fit: contain;
        background-color: $clr1;
        margin-inline-end: 20px;
        margin-inline-start: 30px;;
    }
    .attachment-info{
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        h5{
            margin-bottom:0.3em;        
        }
        p{
            margin-bottom:0.3em;  
        }
        .btn.attachment-action {
            background-color: transparent;
            text-decoration: underline;
            margin:0; 
            padding:0;
        }
        .btn.attachment-action:not(:last-of-type){
            margin-inline-end: 5px;;
        }
        
    }
    .attachment-edit{
        bottom:20px;
        left: 50%;
        .attachment-edit-main{
            display:flex;
            flex-direction: column;        }

    }
}