.task-checklist {
  margin-bottom: 30px;
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .main-checklist-header{
      display: flex;
    }

    .checklis-icon{
      // margin-right: 10px;
    }

    h4 {
      margin: 0 auto;
    }
  }

  .todo-container {
    cursor: pointer;
    display: flex;
    padding: 10px;

    input {
      cursor: pointer;
      margin-right: 10px;
      height: 100%;
    }

    form {
      width: 100%;
    }

    textarea {
      width: 100%;
      font-size: 14px;
    }

    label {
      cursor: pointer;
      font-size: 18px;
      width: 100%;
      // padding: 10px;
    }

    .editable-todo,
    // .editable-todo-title,
    // .editable-todo-add,
    .editable-todo p,
    .editable-todo-title p,
    .editable-todo-add p {
      font-size: 18px;
      display: flex;
      align-items: center;
      margin-bottom: 0;
      width: 100%;
      // padding: 10px;
    }
  }

  .btn {
    background-color: #eaecf0;
    padding: 10px;

    &:hover {
      background-color: #e4e4e3;
    }
  }

  label:hover,
  .editable-text p:hover {
    background-color: #eaecf0;
  }
}

.progress-checklist {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .progress-bar {
    width: 85%;
  }
}
