.task-attachment-container {
    .task-attachment {
        display: flex;
        height: 100px;
        margin-bottom: 30px;

        
    }
    &.loader{
        background-color: transparent;
    }  
    .attachment-img {
        width: 150px;
        object-fit: contain;
        background-color: $clr1;
    }
    .attachment-info{
        h5{
            margin-bottom:0.3em;        
        }
        p{
            margin-bottom:0.3em;  
        }
        .btn.attachment-action {
            background-color: transparent;
            text-decoration: underline;
            margin:0; 
        }
        
    }
    .attachment-edit{
        bottom:10px;
        .attachment-edit-main{
            display:flex;
            flex-direction: column;        }

    }
}