.popup{
    position:fixed;
    background-color: $clr1;
    border-radius: 5px;
    width: 250px;
    padding:10px;
    box-shadow:0 0 12px 1px rgba(46, 46, 46, 0.25);
    h2{
        font-size: 1.1rem;
        flex-grow: 1;
        text-align: center;
        margin-bottom:0.5rem;
    }
    h3{
        font-size: 1rem;
        margin-bottom:0.3em;
    }
    h4{
        margin:0;
        font-size:1rem;
    }
    input{
        margin-bottom:10px;
        border:1px solid grey;
        border-radius: 5px;
        width: 100%;
        height: 30px;
        padding-left:10px;
        font-size:0.95rem;
    }
    .btn{
        margin: auto;
        margin-bottom:10px;
        border-radius: 5px;
        &.narrow{
            width: 60px;
        }
        &.wide{
            width: 100%;
        }
        &.action-color{
            // background-color: #A1FD9D;
            background-color: $clr1;
            border:2px solid $clr7;
            color:$clr7;
            font-weight:600;
        }
        &.warning-color{
            // background-color: $clr4;
            background-color: $clr1;
            border:2px solid $clr4;
            color:$clr4;
            font-weight:600;
        }
        &:hover {
            filter: brightness(90%);
        }
    }
    .task-popup-header {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid rgb(219, 219, 219);
        margin-bottom:10px;
    }
}