.board{
    display:flex;
    flex-grow: 1;
    overflow: hidden;
    ul{
        display: flex;
        flex-grow: 1;
        &>*{
            overflow-y: auto;
            margin:5px;
            //display: flex;
        }
    }
}