.board-list-container {
    margin: 80px auto;

    .board-list {
        display: flex;
        flex-wrap: wrap;

        .board-preview {
            width: 180px;
            height: 95px;
            margin-inline-end: 20px;
            border-radius: 3px;
            padding: 8px;
            font-weight: bold;
            font-size: 1.1rem;
            color: #fff;
            background-size: cover;
            margin-bottom: 30px;
        }

    }

    .btn.add-board {
        margin: auto;
        width: 180px;
        height: 95px;
        background-color: #E7E9ED;
        border-radius: 5px;
        font-size: 0.9rem;
    }

    .btn.add-board:hover {
        filter: brightness(98%)
    }

    .btn.create-board {
        background-color: $clr1;
        border: 2px solid $clr7;
        color: $clr7;
        font-weight: 600;

        &.gray {
            color: rgb(177, 177, 177);
            border-color: rgb(177, 177, 177);
            filter: none;
        }
    }

}

.create-board-screen.add-board {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.popup-create-board {
    width: 450px;
    background-color:transparent;
    box-shadow: none;
    top:35px;
    left:50%;
    transform: translate(-50%);
    .btn.close {
        margin: 0;
        color:$clr1;
    }
    
    .new-board-info {
        display: flex;
        justify-content: space-between;
        margin-bottom:10px;
        height: 100px;
        .title-container {
            width: 290px;
            padding:10px 10px 10px 10px;
            border-radius:3px;
            background-size: cover;
            display: flex;
            margin-inline-end: 10px;
            >*:not(:last-child){
                margin-inline-end:30px;
            }
        }

        .bgStyle-list {
            display: flex;
            flex-wrap: wrap;
            width: 130px;
        }
        
        .bgStyle {
            width: 30px;
            height: 30px;
            // background-color: aqua;
            border-radius: 3px;
            margin-inline-end: 5px;
            margin-bottom: 5px;
            cursor: pointer;
            text-align: center;
        }
        .bgStyle.selected::before{
            content: "✔";
            color:$clr1;
        }
        
        .bgStyle:hover {
            filter: brightness(95%)
        }
    }
}