.board{
    display:flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden;
    .board-header{
        display: flex;
        justify-content: space-around;
        align-items: center;
        background:$clr1;
        &>*:not(.board-header-members){
            margin: 10px;
            padding: 3px 10px;
            font-size: 22px;
            color: $clr5;
            border-radius: 6px;
            border: 2px solid $clr4;
        }
    }
    
    .main{
        //position:relative;
        display: flex;
        overflow-y:hidden;
        overflow-x: auto;
        display: flex;
        flex-grow: 1;
        padding: 5px;
        margin-block-end:5px;
        // border:solid 1px $clr3;
        background-color: $clr5;
        &::before{
            content:'';
            z-index: -1;
            background-color: $clr5;
            position: absolute;
            top:0;bottom:0;left:0;right:0;
        }
        .group{
            margin-inline-end:8px;
        }
        .add-new-group{
            display: flex;
            justify-content: center;
            min-width: 300px;
            height:100%;
            .editable-text{
                width:100%;
                form{
                    max-height: 100%;
                    textarea{
                        min-height: 150px;
                        max-height: 95%;
                        width: calc(100% - 8px);
                        background: #EBECF0;
                        border-radius: 5px;
                        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                        box-shadow:0px 2px 0px #0000002e;
                    }
                    textarea:hover{
                        background: #e4e4e3;
                    }
                }
            }
             .group-addition{
                 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                 font-weight: bold;
                 font-size: rem(20px);
                 color:rgba(0, 0, 0, 0.74);
                 background:#EBECF0;
                 max-height: 35px;
                 width:100%;
                 border-radius: 5px;
                 outline:none;
                 //border: 5px dashed #ebecf0;
                 //word-spacing: 100vw;
                 margin:0;
             }
             .group-addition:hover{
                 //border-color:white;
                 background:#e4e4e3;
             }
             .group-addition:active{
                 color:#e4e4e3;
                 background:#6b768b;
             }
             .group-addition:focus{
                 border-color:rgb(212, 212, 212);
             }
        }
    }
    .ghost{
        opacity: 0.6;
        background: $clr5;
        color:$clr5;
        &>*{
            .preview-label{
                background: $clr5!important;
            }
            .member-preview{
                background: $clr5!important;
                color:$clr5!important;
            }
            background: $clr5;
            color:$clr5;
        }
    }
    .dragging{
        opacity: 0.1;
        background: aquamarine;
    }
    .tilted{
        transform: rotate(25deg) ;
    }
    
} 