.board{
    display:flex;
    flex-direction: column;
    flex-grow: 1;

    .board-header{
        display: flex;
        justify-content: space-around;
        align-items: center;
        
        &>*{
            margin: 10px;
            padding: 10px;
            // background-color: $clr3;
            // color: $clr1;
            border-radius: 6px;
            border: 2px solid $clr3;
        }
    }

    .main{
        display: flex;
    }

    .group-list{
    overflow: hidden;
    ul{
        display: flex;
        flex-grow: 1;
        &>*{
            overflow-y: auto;
            margin:5px;
            //display: flex;
        }
    }
}
}