.task-screen {
  z-index: 11;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;

  .task {
    .task-content {
      display: flex;
      padding: 0px 8px 8px 16px;
      flex-direction: row-reverse;
      justify-content: space-between;
    }
    z-index: 100;
    width: 768px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    font-size: 22px;
    // padding: 10px 10px 10px 15px;
    //margin-top: 100px;
    display: flex;
    flex-direction: column;
    // margin-top: 300px;
    position: absolute;
    
    .task-cover{
      display: flex;
      justify-content: center;
      border-radius: 5px 5px 0px 0px;
      background-color: $clr5;
    }

    .header {
      // margin-bottom: 10px;
      margin: 12px 40px 8px 10px;
      .task-title{
        line-height: 0.875;
        width:fit-content;
        .editable-title h2{
          margin-block-end: 16px;
        }
      }
      .btn.close {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
      }
      .btn.close:hover {
        border-radius: 50%;
        background-color: #e4e4e3;
      }
    }
    .task-title {
      display:flex;
      flex-direction: row;
    }
    .task-title .icon{
      margin-inline-end: 10px;
      transform: scaleY(1.2);
    }
    .task-title .icon:before{
      font-family: 'fa-solid';
      font-size: 1.1rem;
      content:"\f566"
    }

    .task-main {
      display: flex;
      flex-direction: column;
      width: 100% ;
      margin-inline-end: 8px;
    }

    .task-info {
      display: flex;
      margin-bottom: 30px;
    }

    .task-info > * {
      margin-right: 30px;
    }

    // height: 500px;
    // background-color: rgba(71, 71, 236, 0.541);
    // background-color: $clr1;
    background-color: #f1f2f5;
    border-radius: 5px;
    // margin: 0 auto;
    .drag-uploader {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      // z-index:-1;
      &.file-drag {
        background-color: rgba(238, 238, 238, 0.5);
      }
    }
    .title-icon span{
      margin-inline-end:10px;
    }
    .description span:before{
      font-family: 'fa-solid';
      font-size: 1.1rem;
      content:"\f036"
    }
    .task-description-content
     {
      margin-bottom: 30px;
      // background-color: #eaecf0;
      padding: 5px;
    }
    .task-description-content.closed:hover{
      background-color: #e4e4e3;
      cursor: pointer;
      border-radius: 5px;
    }
    .attachment-title span:before{
      font-size: 1.1rem;
      font-family: 'fa-solid';
      content: '\f0c6';
    }
    .checklist-title span{
      &:before{
        font-family: 'fa-reg';
        font-size: 1.1rem;
        content:"\f14a"
      }
    }
  }

}
