.task {
  position: fixed;

//   TODO : FIX TOP AND LEFT IN PX -----------------
  top: 113px;
  left: 630px;
//   ------------------------------------------
  // translate: transform(-50%);
  // right:0.5vw;
  // transform:translateX(-50%);
  width: 500px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  font-size: 22px;
  padding: 10px;

  .task-control {
    display: flex;
    flex-direction: column;
}

.task-main{
    display: flex;
    flex-direction: column;
    
  }
  // height: 500px;
  // background-color: rgba(71, 71, 236, 0.541);
  background-color: $clr3;

  margin: 0 auto;
}
